{
    "presets": [ "es2015" ],

//     [
//         "es2015", {},
//         "env", {},
//     ]

//    "plugins": [ "external-helpers" ]

}
    

// {
//     "presets": [
// 	[
//             "es2015",
// 	    {
// 		"modules": false
// 	    }
// 	]
//     ],
//     "plugins": [
// 	"external-helpers"
//     ],
// }
